[Unit]
Description=Pond Collector Hubitat Publisher
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=@SERVICE_USER@
Group=@SERVICE_GROUP@
WorkingDirectory=/opt/pond-collector
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/opt/pond-collector/src
ExecStart=/usr/bin/python3 /opt/pond-collector/src/hubitat.py

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
